<center>
	<h1>Notify</h1>
	<p>Please confirm your notification with the x-button. This page will be changed quite a bit over the next few iterations. There is no need to hit the X button currently, but there is also no need for this page, so this will be removed.</p>
</center>